# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(1, 5, size=100))
s2 = pd.Series(np.random.randint(1, 4, size=100))
s3 = pd.Series(np.random.randint(10000, 30001, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df = pd.concat([s1, s2, s3], axis=1)
df.head(10)

   0  1      2
0  2  2  24611
1  4  2  22593
2  1  1  28431
3  1  3  25053
4  2  3  28601
5  3  1  14700
6  2  2  10986
7  3  1  27871
8  3  1  12119
9  3  3  22809

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
df = pd.concat([s1, s2, s3], axis=1, keys=['bedrs','baths','price_sqr_meter'])
df

    bedrs  baths  price_sqr_meter
0       2      2            24611
1       4      2            22593
2       1      1            28431
3       1      3            25053
4       2      3            28601
..    ...    ...              ...
95      4      1            11962
96      1      2            10511
97      4      2            24187
98      1      2            29778
99      2      1            11992

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
df_col = pd.concat([s1, s2, s3])
type(df_col)
bigcolumn = df_col.to_frame()
bigcolumn.size

300

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
bigcolumn.size

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [8]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn.index

RangeIndex(start=0, stop=300, step=1)